Django
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
psycopg2-binary==2.9.9
channels==4.0.0
celery==5.3.6
redis==5.0.1
graphene-django==3.1.5
django-filter==24.1
scikit-learn==1.4.2
joblib==1.4.0
